@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: Lato, system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  
}

* {
  font-size: 1rem;
}

.carousel-status {
  display: none;
}

@media screen and (max-width: 800px) {
  .modal__content {
    margin: 0rem 1rem;
    width: 100%;
  }
  .modal__video-style {
    width: 100%;
  }
}

@media screen and (max-width: 499px) {
  .modal__content {
    background: transparent;
    height: auto;
  }
  .modal__video-align {
    bottom: 0px;
  }
  .modal__video-style {
    height: auto;
  }
}

.hideMenuNav {
        height: 0px;
        overflow: hidden;
        padding:0px;
      }
      .showMenuNav {
        height: auto;
        overflow: hidden;
        display: block;
        background: white;
        z-index: 10;
        display: flex;
        flex-direction: column;
      }